tfoot td {
    margin: 20px 0 0 0 !important;
    border-top: 3px solid #333 !important;
    text-align: right !important;
    height: 62px;
    font-size: 24px;
    font-weight: 700;
}

@media screen and (max-width: 991px) {
    tfoot td:first-child {
        display: none;
    }

    tfoot td {
        text-align: left !important;
        padding: 30px 0 0 0 !important;
    }
}

@media screen and (max-width: 500px) {
    tfoot td {
        font-size: 15px;
        font-weight: 700;
    }
}