.notifications-extras {
    transition: all 0.3s;
    opacity: 0;
    position: absolute;
    top: 70px;
    left: 17px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #272726;
    color: #fff;
    font-size: 14px;
    width: 120px;
    pointer-events: none;
}

.notifications-extras.show {
    opacity: 1;
    top: 50px;
}

.notifications-extras .triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #272726 transparent;
    position: absolute;
    top: -10px;
    left: 70px;
}

.notifications-extras span {
    display: inline-block;
}


.notifications-extras span.value {
    width: 30px;
    text-align: right;
    padding: 1px 5px 1px 0;
}