.sortableTableWrapper th:last-child {
    min-width: 130px !important;
    padding-left: 15px !important;
}

.sortableTableWrapper th:last-child button {
    width: 100% !important;
}

table .claps {
    position: relative;
    display: inline-block;
    width: 60%;
}

table .claps .clapsPerFan {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 60%;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.54);
}

tfoot td {
    margin: 20px 0 0 0 !important;
    border-top: 3px solid #333 !important;
    text-align: right !important;
    height: 62px;
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
    overflow: visible;
}

tfoot .claps {
    position: relative;
}

tfoot .claps .clapsPerFan {
    position: absolute;
    top: 30px;
    right: 0;
    font-size: 60%;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.54);
}

tfoot td.articles-count {
    text-align: left !important;
}

@media screen and (max-width: 991px) {
    tbody .claps {
        position: relative;
        top: -24px;
        text-align: right;
        font-size: 100%;
    }

    table .claps .clapsPerFan {
        font-size: 80%;
        right: -50px;
        top: 7px;

    }

    tfoot td:first-child {
        display: none;
    }

    tfoot td {
        text-align: left !important;
        padding: 30px 0 0 0 !important;
    }
}

@media screen and (max-width: 500px) {
    tbody .claps {
        display: none;
    }
    tfoot td {
        font-size: 15px;
        font-weight: 700;
    }
}

.mes-barchart-extras div {
    position: absolute;
    border-radius: 50%;
    border: solid rgba(0, 0, 0, 0.40);
    background-color: #000;
    background-clip: padding-box;
    animation: appear 1s ease-in-out 1;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(3);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.mes-action-show-in-chart {
    color: rgba(0,0,0,.54) !important;
    width: auto !important;
    padding: 0 !important;
    font-size: 16px !important;
    font-weight: normal !important;
}

.mes-action-show-in-chart:hover {
    text-decoration: underline;
}

.mes-post-bar {
    fill: rgba(3, 159, 118, 0.9) !important;
}